@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family:'SUIT-Regular'
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

.nav-underline {
  width: 100%;
  height: 100%;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.parent-nav-underline {
  width: 100%;
  height: 5px;
  position: fixed;
}

.name-div {
  font-weight: 800;
}

.occupation-div {
  font-weight: 400;
}

.tooltip {
  @apply invisible absolute;
  background: black;
  color: white;
  text-shadow: 0 0 black;
  padding: 6px;
  font-size: 0.9rem;
  border-radius: 6px;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.common-btn {
  background: #00025c;
}

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.flex-container {
  display: flex;
  align-items: center; /* 수직 정렬 설정 */
}

@layer components {
  .tech-tag {
    @apply p-1 text-white rounded-lg shadow-sm focus:outline-none text-xs;
    flex-wrap: wrap;
  }
}

.front-tech-tag {
  @apply tech-tag bg-green-500;
}

.backend-tech-tag {
  @apply tech-tag bg-blue-500;
}

.mobile-tech-tag {
  @apply tech-tag bg-gray-600;
}

.tech-stack-tag {
  @apply tech-tag bg-blue-800 ml-1.5 p-1 pl-1.5 pr-1.5;
}

.date-text {
  @apply italic text-gray-500 pt-1.5;
}

.custom-list-disc {
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.2rem;
}

.custom-list-disc::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #1565C0;
}

.title-tag {
  @apply text-lg font-semibold mb-2;
}

.tech-type {
  @apply text-2xl font-semibold;
}

.tech-cell {
  @apply text-left text-base;
}

.tech-cell::before {
  @apply text-primary;
  content: '•  ';
  left: 0;
}

.other-experience-tag {
  @apply tech-tag bg-yellow-600 ml-2.5 pl-2 pr-2;
}

.level-tag {
  @apply tech-tag bg-primary ml-1.5 pl-1.5 pt-1 pb-1 pr-1.5;
}

.github-tag {
  @apply text-4xl ml-1 mt-1.5 text-black dark:text-white;
}

.npm-tag {
  @apply text-5xl inline text-red-700;
}